.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.initializing {
    font-size: 40px;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 200px;
    text-align: center;
    background: #fff;
}

.bracket {
  height: 650px;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
}

rect.menu {
  stroke: #000;
  fill: #fff;
}

.node:hover {
  cursor: pointer;
}

.node text {
  font: 13px sans-serif;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.image-highlight {
  fill: #fff;
  opacity: 0;
  stroke: none;
}

.image-highlight:hover {
  opacity: 0.5;
  cursor: pointer;
}

text.winner-text {
  font-size: 25px;
  font-weight: bold;
}
